extends base.pug

block content 
    h4 Update Video
    form(method="POST")    
        input(name="title", placeholder=video.title, value=video.title required)
        input(name="description", placeholder="Description", type="text" minlength=20, value=video.description required)
        input(name="hashtags", placeholder="HashTags,separated by comma.", value=video.hashtags.join(), type="text" required)
        input(value="Save", type="submit")