extends base.pug
include mixins/video
block content
    h2 Welcome to the UTUBE CLONE PROJECT HOME PAGE
    each potato in videos         
        +video(potato) 
    else        
        li Sorry nothing Found